<!doctype html>
<html lang="{{ .Labels.HTMLLang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Labels.ObjectIndexTitle }}</title>
	{{ template "styles" . }}
</head>
<body>
	<main>
		<h1>{{ .Labels.ObjectIndexTitle }}</h1>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>{{ .Labels.Label }}</th>
						<th>{{ .Labels.APIName }}</th>
						<th>{{ .Labels.FieldCount }}</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Objects }}
					<tr>
						<td>
							<a href="{{ objectFilename .APIName }}">
								{{ displayLabel . }}
							</a>
						</td>
						<td><code>{{ .APIName }}</code></td>
						<td>{{ len .Fields }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</main>
</body>
</html>
